<%- include("partials/header") %>
    <h1>Bloggify!</h1>
    <form action="/submit" method="post">
        <label for="name">Author Name</label>
        <input type="text" name="author" placeholder="Enter Name" required>
        <label for="blog">Write your blog here</label>
        <input type="text" name="blog" placeholder="Write your blog" required>
        <input type="submit" >
    </form>

    <%- include("partials/footer") %>
